header {
  width: 100vw;
  height: 10vh;
  /* background-image: url("https://media.istockphoto.com/photos/innovation-and-new-ideas-lightbulb-concept-with-question-mark-picture-id1279690557?k=6&m=1279690557&s=612x612&w=0&h=HnYiimAd6S5-m-U87G2LHkC6dhwE1wtgDED_dXgnDlg=");
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: #255693;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  display: inline-block;
  color: white;
  padding: 10px, 15px;
  font-size: x-large;
  list-style: none;
  text-decoration: none;
  margin: 8px;
  margin-left: 30px;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: #255693;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  margin: 20px;
}
.menu-btn_burger {
  width: 40px;
  height: 4px;
  background: white;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger::before,
.menu-btn_burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: white;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger::before {
  transform: translateY(-16px);
}
.menu-btn_burger::after {
  transform: translateY(16px);
}
.menu-btn.open .menu-btn_burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn_burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.nav-links {
  height: 18vh;
  width: 100vw;
  background-color: #255693;
  position: fixed;
  left: 0;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translate(0, -400px);
  transition: all 0.5s ease-in-out;
}

.show {
  transform: translate(0, 0);
}

.logo {
  font-size: xx-large;
  color: white;
  padding-right: 40px;
}

@media screen and (max-width: 500px) {
  .nav-links {
    height: 10vh;
    width: 100vw;
    background-color: #255693;
    position: fixed;
    left: 0;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translate(0, -400px);
    transition: 0.5s;
    transition-timing-function: ease-in;
  }

  .show {
    transform: translate(0, 0);
  }

  .nav-item {
    display: inline-block;
    color: white;
    padding: 10px, 15px;
    font-size: x-large;
    list-style: none;
    text-decoration: none;
    margin: 0;
    margin-left: 30px;
  }

  .logo {
    font-size: xx-large;
    color: white;
    padding-right: 10px;
    text-align: center;
  }
}
