.aboutEdit {
  margin: 0;
  padding: 0;
  background-color: #255693;
  color: white;
  text-align: center;
  height: 8vh;
}

.quizCards {
  justify-content: center;
  align-items: center;
  background-color: #cfd3de;
  width: 250px;
  margin: 10px;
  padding: 10px;
  border-radius: 2%;
  border: 0.25px solid black;
}

.aboutEditText {
  padding-top: 10px;
}

.twoQuizImage {
  height: auto;
  width: 230px;
  margin: 5px;
}

@media screen and (max-width: 500px) {
  .myQuizzes {
    width: 100vw;
  }

  .aboutEdit {
    height: 12vh;
  }

  .aboutEditText {
    padding: 15px;
  }
}
